body {
  font-family: "Courier New", Courier, monospace;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  
}

html{
  width: 904px;
  height: 1280px;
}


main {
  margin: 0 1.5rem;
}


.header__image{
  width: 100%;
}

.header__info{
  position: absolute;
  top: 4%;
  left: 19.5%;
  background-color: var(--lightRed);

  color: white;

  line-height: 20px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;

  padding: 10px;
  border-radius: 5px;

  
}



.header__info p{
  display: inline-block;
}


.prize__tittle__container {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;

  padding-top: 0.3rem;
  padding-bottom: 0.3rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.prize__tittle__value::before {
  content: "(";
}
.prize__tittle__value::after {
  content: ")";
}

/* DRAW NUMBERS */
.draw__numbers__container {
  display: flex;
  gap: 0.3rem;

  padding: 0.3rem 0;
  border-top: solid black 1px;
}

.draw__numbers__info {
  display: flex;
  width: 30%;
}

/* WINNER INFO */
.winners__main__container {
  display: flex;
  flex-wrap: wrap;
  padding: 0.3rem 0;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
}

.winners__tittle {
  font-weight: 700;
  font-style: italic;
  text-decoration: underline;
}

.winners__document__container {
  width: 9.5%;
}

.winners__name__container {
  width: 38%;
}

.winners__city__container {
  width: 33%;
}

.winners__seller__container {
  width: 19.5%;
}

/* GIRO DA SORTE */
.giro-da-sorte__tittle {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;

  padding: 0.3rem 0;
  border-top: solid black 2px;
  border-bottom: solid black 2px;
}

.giro-da-sorte__winners__main__container {
  display: flex;

  padding-top: 0.3rem;
  padding-bottom: 0.3rem 0;
  border-bottom: solid black 2px;

  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
}

.giro__winners__document__container {
  width: 7%;
}

.giro__winners__seq__container {
  width: 5%;
}

.giro__winners__name__container {
  width: 35.5%;
}

.giro__winners__city__container {
  width: 33%;
}

.giro__winners__seller__container {
  width: 19.5%;
}

.giro__winners__document__tittle,
.giro__winners__seq__tittle,
.giro__winners__name__tittle,
.giro__winners__city__tittle,
.giro__winners__seller__tittle {
  padding-bottom: 0.3rem;
}
