header{
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
  background-color: gray;
  color: #FFF;
}

main{
  margin: 0 1.5rem;
}

.prize__tittle__container{
  text-align: center;
  font-size: 1rem;
  font-weight: 700;

  margin-top: 1rem;


  display: flex;
  align-items: center;
  justify-content: center;
  gap: .3rem;

}

.prize__tittle__value::before{
  content: '(';
}
.prize__tittle__value::after{
  content: ')';
}



/* DRAW NUMBERS */
.draw__numbers__container{
  display: flex;
  gap: .3rem;
}

.draw-numbers__number{
  max-width: 80%;
}



/* WINNER INFO */
.winners__main__container{
  display: flex;
}

.winners__tittle{
  font-weight: 700;
  font-style: italic;
  text-decoration: underline;
}

.winners__document__container{
  width: 9.5%;
}

.winners__name__container{
  width: 38%;
}

.winners__city__container{
  width: 33%;
}

.winners__seller__container{
  width: 19.5%;
}