:root{
  --aquaBlue: #C9DADF;
  --lightBlue: #9BC7D4;

  --yellow: #EDB94B;
  --green: #206348;
  --lightRed: #B82C25;
  --darkRed: #7A1728;

  --darkGray: #B7BAC0;
  --lightGray: #e9e9e9;
  --gray: #eeeeee;

  --black60: #00000099;
}